* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 60px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.23); 
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.23);
}

#reset-align {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.main-container {
    display: flex;
    justify-content: space-around;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
    border-radius: 20%;
    padding: 36px;
    width: 400px;

    transition-property: transform background;
    transition-duration: 1.5s;
}


.player-choices,
.computer-choices {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap:16px
}

.player-names {
    text-align: center;
    padding-bottom: 40px;
}
#computer-score,
#player-score {
    text-align: center;
    padding-top: 40px;
}

.rockIMG,
.paperIMG,
.scissorsIMG,
.resetIMG {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.822);
    width: 120px;
    height: 100px;
    border-radius:20%;
    border: none;
    /* messing around */



    
}

.rockIMG {
    background-image: url("images/rock.webp");
}
.paperIMG {
    background-image: url("images/paper3.png");
}
.scissorsIMG {
    background-image: url("images/scissors2.png");
}
.resetIMG {
    background-image: url("images/reset.png");
}




/* messing around */

.selected {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
    transition: all 2s;
}



#rock:hover,
#paper:hover,
#scissors:hover,
.resetIMG:hover {  
transform: scale(1.1);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.win {
    background: rgb(43, 148, 43);
}
.lose {
    background:rgb(173, 4, 4);
}
.tie {
    background: rgba(211, 211, 211, 0.801);
}


/* .choices {
    transition-property: transform border-color;
} */